*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav{
    background-color: black;
    /* background-color: rgb(67,67,68); */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

nav ul{
    width: calc(70vw - 1rem);
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.second-nav{
    display: none;
}

main{
    background-color: lightgreen;
    height: 100%;
    width: 100%;   
}

main a{
    text-decoration: none;
}

.hero-wrapper{
    width: 100%;
    position: relative;
    color: white;
}

.blue{
    width: 100%;
    height: 95%;
    background-image: url(./Assets/Images/hero_ase25_startframe__cgkiuyndpjxy_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blue-description{
    /* background-color: navy; */
    width: 70%;
    height: 40%;
    position: absolute;
    top: 58%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blue-description .p1{
    font-size: 4em;
}

.blue-description .p2{
    font-size: 2em;
}

.blue-description button{
    width: 14%;
    height: 18%;
    background: rgb(0,113,227);
    color: white;
    border: none;
    border-radius: 22px;
    font-size: large;
    padding: 1%;
    cursor: pointer;
}

/* 2nd img */

.iphone17pro{
    /* border: 2px solid black; */
    width: 100%;
    height: 95%;
    background-image: url(./Assets/Images/hero_iphone_17_pro_2k-ltp-L.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

 .iphone17pro-description{
    /* background-color: navy; */
    width: 70%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.iphone17pro-description .p1{
    font-size: 3em;
}

.iphone17pro-description .p2{
    font-size: 2em;
}

.iphone17pro-button-container{
    /* background-color: red; */
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iphone17pro-description button{
    width: 40%;
    height: 55%;
    background: rgb(0,113,227);
    color: white;
    border: none;
    border-radius: 22px;
    font-size: large;
    padding: 1%;
    cursor: pointer;
} 

/* 3rd img */

.iphoneAir{
    /* border: 2px solid black; */
    width: 100%;
    height: 95%;
    background-image: url(./Assets/Images/hero_iphone_air-4k-ltp-L.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

 .iphoneAir-description{
    /* background-color: navy; */
    width: 70%;
    height: 35%;
    position: absolute;
    top: 5%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.iphoneAir-description .p1{
    font-size: 3em;
}

.iphoneAir-description .p2{
    font-size: 2em;
}

.iphoneAir-description .p3{
    font-size: 2em;
}

.iphoneAir-button-container{
    /* background-color: red; */
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iphoneAir-description button{
    width: 40%;
    height: 50%;
    background: rgb(0,113,227);
    color: white;
    border: none;
    border-radius: 22px;
    font-size: large;
    padding: 1%;
    cursor: pointer;
} 

.card-parent{
    background-color: darkgray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 50%;
    height: 100%;
    border: 1px solid black;
}



/* Media Queries */

@media screen and (max-width: 1024px){
    nav ul{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .second-nav{
        display: block;
    }

    nav{
        display: none;
        justify-content: space-between;
    }

    .second-nav{
        display: flex;
    }
    .second-nav ul{
    width: 80%;
    justify-content: flex-end;
    gap: 8%;
    }
}
