*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav{
    background-color: black;
    /* background-color: rgb(67,67,68); */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

nav ul{
    width: calc(70vw - 1rem);
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.second-nav{
    display: none;
}

main{
    /* background-color: lightgreen; */
    /* height: 100%; */
    width: 100%;   
}

main a{
    text-decoration: none;
}

/* section1 */
.image1,
.image2,
.image3 {
 height: 100vh;   
}


.image1{
    width: 100%;
    /* height: 95%; */
    background-image: url(./Assets/Images/hero_ase25_startframe__cgkiuyndpjxy_large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.cont-container{
    height: 30%;
    width: 60%;
    /* background-color: blue; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute; 
    bottom: 10%;
    left: 20%;

}

.cont-container h2{
    font-size: 3em;
    font-weight: 600;
}

.cont-container p{
    font-size: 1.5em;
}

.cont-container button{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #0071e3;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

/* image2 */

.image2{
    width: 100%;
    /* height: 95%; */
    background-image: url(./Assets/Images/hero_iphone_17_pro_2k-ltp-L.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10px;
}

.cont-container2{
    /* background-color: darkcyan; */
    top: 5%;
    bottom: none;
}

.button-container{
    /* background: lightblue; */
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    width: 230px;
}

.button-container .buy{
    width: 80px;
    color: #0071e3;
    background-color: black;
    border: 1px solid #0071e3;
}

.button-container .buy:hover{
    background-color: #0071e3;
    color: white;
}

/* image3 */

.image3{
    width: 100%;
    /* height: 95%; */
    background-image: url(./Assets/Images/hero_iphone_air-4k-ltp-L.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10px;
}

.cont-container3{
    /* background-color: lightcoral; */
    color: black;
    height: 35%;
    top: 5%;
    bottom: none;
}

.button-container .buy3{
    background-color: rgb(245,245,247);
}

.button-container .buy3:hover{
    background-color: #0071e3;
    color: white;
}


/* section2 */

.section2{
    /* height: auto; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
}

.card{
    width: 49%;
    height: 600px;
}

/* card1 */

.card1{
    background-image: url(./Assets/Images/1st-image-apple-logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.card1-content{
    color: black;
    /* background-color: blue; */
    height: 30%;
    width: 80%;
    left: 9%;

    & h2{
        font-size: 2.9em;
        text-align: center;
    }
}

/* card2 */

.card2{

    background-image: url(./Assets/Images/5th-image-aidpods-pro-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.card2-content{
    color: black;
    /* background-color: blue; */
    height: 30%;
    width: 80%;
    top: 5%;
    left: 9%;
}

.card2-btnContainer{
    /* width: 50%; */
    width: 230px;
}


/* card3 */

.card3{

    background-image: url(./Assets/Images/promo_ipad_air_avail__6i02t7nujr62_large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.card3and4-content{
    color: black;
    /* background-color: blue; */
    height: 30%;
    width: 80%;
    top: 5%;
    left: 9%;
}

.card3and4-btnContainer{
    width: 230px;
}

.card3and4-btnContainer .buy3{
    background-color: rgb(197,230,240);
}

.button-container .buy4{
    background-color: rgb(245,245,247);
}

/* card4 */

.card4{
    background-image: url(./Assets/Images/promo_apple_watch_series_11__b63hxviqvonm_small_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

/* card5 */

.card5{
    background-image: url(./Assets/Images/promo_carrier__e0izvxwqosgi_small_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.card5and6-content{
    color: black;
    /* background-color: blue; */
    height: 40%;
    width: 80%;
    top: 5%;
    left: 9%;
}

.card5and6-content h2{
    font-size: 2.5em;
}

.card5and6-btnContainer button{
    width: 150px;
}

/* card6 */

.card6{
    background-image: url(./Assets/Images/promo_iphone_tradein__bugw15ka691e_small_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

/* Large Carousel */

.large-carousel{
    width: 100vw;
    height: 500px;
    /* border: 3px solid red; */
    display: flex;
    margin: 10px auto;
    overflow-x: auto;
    gap: 1em;
    cursor: pointer;
}

/* .large-carousel::-webkit-scrollbar{
    display: none;
} */

.large-group{
    width: max-content;
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    /* animation: spin 10s infinite linear; */
    /* padding-right: 1em; */
}

.large-card{
    background-color: cornflowerblue;
    height: 100%;
    /* width: max-content; */
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 900px;
    align-content: center;
    padding: 1em;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* @keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
} */


.large-card1{
    background-image: url(./Assets/Images/largeCarousel01.jpg);
}

.large-card2{
    background-image: url(./Assets/Images/largeCarousel02.jpg);
}

.large-card3{
    background-image: url(./Assets/Images/largeCarousel03.jpg);
}

.large-card4{
    background-image: url(./Assets/Images/lageCarousel04.jpg);
}


/* Small Carousel */

.sm-carousel{
    width: 100vw;
    height: 320px;
    /* border: 3px solid red; */
    display: flex;
    margin: 10px auto;
    overflow-x: auto;
    gap: 1em;
    cursor: pointer;
}

.sm-carousel::-webkit-scrollbar{
    display: none;
}

.sm-group{
    width: max-content;
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    /* padding-right: 1em; */
}

.sm-card{
    background-color: cornflowerblue;
    height: 100%;
    /* width: max-content; */
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 500px;
    align-content: center;
    padding: 1em;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}


.sm-card1{
    background-image: url(./Assets/Images/sm_carousel_01_1960x1102.jpg);
}

.sm-card2{
    background-image: url(./Assets/Images/sm_carousel_02_1960x1102.jpg);
}

.sm-card3{
    background-image: url(./Assets/Images/834x472.jpg);
}

.sm-card4{
    background-image: url(./Assets/Images/sm-carousel-4-834x472.jpg);
}

  /* Footer */

footer{
    background: #f5f5f7;
    border: 1px solid black;
    width: 100vw; 
    margin-top:  10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-para-cont{
    /* background: lightsteelblue; */
    margin: 10px 0px;
    width: 80%;

    & p{
        color: #6d6d6e;
    }

    & a{
        color: #6d6d6e;
        text-decoration: underline;
    }
}

.links-cont{
    width: 80%;
    /* background: lightcyan; */
    display: flex;
    justify-content: space-between;

    & ul{
        list-style-type: none;
    }

    & a{
        color: #6d6d6e;
        text-decoration: none;
    }

    & a:hover{
        text-decoration: underline;
    }
}

.footer-col{
    /* background: lightgreen; */
    line-height: 2em;
}

/* footer bottom */

.footer-bottom{
    /* background: lightblue; */
    width: 80%;
    margin: 15px 0px;

    & a{
        text-decoration: none;
    }

    & span,p,a{
        color: #6d6d6e;
    }

}

.more-ways a{
    color: #076acd;
    text-decoration: underline;
}


.footer-legal{
    /* background: yellowgreen; */
    display: flex;
    justify-content: space-between;
}



/* Media Queries */

@media screen and (max-width: 1024px){
    nav ul{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .second-nav{
        display: block;
    }

    nav{
        display: none;
        justify-content: space-between;
    }

    .second-nav{
        display: flex;
    }
    .second-nav ul{
    width: 80%;
    justify-content: flex-end;
    gap: 8%;
    }
}