*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav{
    background-color: black;
    /* background-color: rgb(67,67,68); */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

nav ul{
    width: 70vw;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.second-nav{
    display: none;
}

main{
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;   
}

main a{
    text-decoration: none;
    color: white;
}

.blue-wrapper{
    width: 100%;
    position: relative;
}

.blue{
    border: 2px solid black;
    width: 100%;
    height: 95%;
    background-image: url(./Assets/Images/hero_ase25_startframe__cgkiuyndpjxy_large.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.blue-description{
    /* background-color: navy; */
    width: 70%;
    height: 40%;
    position: absolute;
    top: 58%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blue-description .p1{
    font-size: 4em;
}

.blue-description .p2{
    font-size: 2em;
}

.blue-description button{
    width: 14%;
    height: 21%;
    background: rgb(0,113,227);
    color: white;
    border: none;
    border-radius: 22px;
    font-size: large;
    padding: 1%;
    cursor: pointer;
}


/* Media Queries */

@media screen and (max-width: 1024px){
    nav ul{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .second-nav{
        display: block;
    }

    nav{
        display: none;
        justify-content: space-between;
    }

    .second-nav{
        display: flex;
    }
    .second-nav ul{
    width: 80%;
    justify-content: flex-end;
    gap: 8%;
    }
}
